<% include ./header %>

<div class="row">
    <div class="col col-md-8">
        <h4>Oops! You might want to go somewhere else</h4>
        <a href="/" class="btn btn-link">Go To Home Page</a>
    </div>
</div>

<% include ./footer %>