<% include ../shared/header %>

<div class="row">
    <div class="col">
        <% if(task) { %>
            <div class="card">
                <div class="card-header">
                    <%=task.title%>
                </div>                
                <div class="card-body">
                    <img src="<%=task.resourceURL%>" height="200px"/>
                    <p><%=task.description%></p>
                </div>
            </div>
            
        <% } else { %>
            <div class="alert alert-info">Task Not Found.</div>
        <% } %>
    </div>
</div>

<div class="row">
    <div class="col">
        <a href="/" class="btn btn-link">Back to Tasks</a>
    </div>
</div>

<% include ../shared/footer %>